@charset "utf-8";
/* CSS Document */

.floats
{
margin: 0 0 100px -2em;
padding-left: 4%;
padding-top: 25px;
position: relative;
display: inline-block;
clear: both;
}
.floats:after
{
content: '';
display: block;
clear: both;
}
.floats .pwork
{
position: relative;
float: left;
display: inline;
margin: 3em 1em 0 2.5em;
width: 14em;
min-width: 250px;
}

.floats .pwork .r
{
position: absolute;
top: 0;
left: 0;
width: 100%;
}
.floats .pwork .min
{
margin: 0 0 200px 0;
height: 4em;
width: 200px;
}