@charset "utf-8";
/* CSS Document */

#floats
{
	margin: 75px 20px 30px 30px;
}

#floats .float
{
	margin-bottom:1em;
	float:left;
	text-align: center;
	margin-top: 1em;
}
.columns1 .float{width:100%;}
.columns2 .float{width:49%;}
.columns3 .float{width:32%;}
.columns4 .float{width:24%;}
.columns5 .float{width:19%;}
.columns6 .float{width:19%;}
.columns7 .float{width:19%;}