<div id="header">
    <div id="logo">ЮРИЙ ТАНСКИЙ<br>
      <span class="webdes">веб-дизайнер</span></div>
    <a href="mailto:tansky@tansky.com.ua" id="mailto">tansky@tansky.com.ua</a>
    <ul>
      <li><a href="#">ПОРТФОЛИО</a></li>
      <li><%= link_to "ОБО МНЕ", about_path %></li>
      <li><a href="#">ЭКСПРИМЕНТЫ</a></li>
      <li><a href="#">ПУТЕШЕСТВИЯ</a></li>
    </ul>
  </div>